.grid {
  margin: 100px 0 0 0;
  /* The font size has to be 0, so that there is no space between nodes the is created for text */
  font-size: 0;
}

button {
  margin-left: 5px;
}

.header {
  background-color: #343a40;
  height: 60px;
  padding: 10px;
}
